<div style="background-color: whitesmoke; padding: 30px">
  <mat-card>
    <div class="card-body">
      <div style="margin-bottom: 20px">
        <button type="button" class="btn btn btn-primary" (click)="back()">
          <mat-icon>arrow_back</mat-icon> Back
        </button>
      </div>
      <h4 class="card-title">Reading Books Tracher</h4>
      <h5 class="card-subtitle text-muted">Track your daily reading....</h5>
      <div class="my-4">
        <img
          style="border-radius: 8px; width: 50%"
          src="assets/images/book-reg.jpg"
          alt="login image"
        />
      </div>
    </div>
  </mat-card>
</div>
